@{
    ViewBag.Title = "Reset Password Confirmation";
}


<div id="Confirm" class="col-xs-12">
    <div class="form-group col-xs-12 loginFormHeader">
        <section class="paddingBottom20 text-left">
            Reset Password
        </section>
    </div>
    <section class="form-group col-xs-12 paddingBottom20">
        Your Password changed Succefully.
    </section>
    <section class="form-group col-xs-12 paddingBottom20 paddingTop20 text-center loginFormFooter">
        @Html.ActionLink("Click here", "Login", "Account", null, new { Area = string.Empty, id = "confirmLogin", @class = "BlueNavy bold" }) to Login
    </section>
</div>