<div class="col-xs-12">
    <h1 class="PageHeader1 paddingBottom10">Edit Contact Details</h1>
</div>
<br clear="all">
<section class="col-xs-12 paddingBottom20">
    <form class="form-horizontal" role="form" novalidate name="editContactForm" id="editContactForm" kendo-validator="validator">
        <div class="col-xs-12 paddingTopBottom10">
            <fieldset>
                <legend>Primary Information</legend>
                <div class="col-xs-12">
                    <div class="form-group col-xs-12 col-md-6">
                        <label class="col-xs-3 col-lg-2 control-label">First Name</label>
                        <div class="col-xs-9 col-lg-10">
                            <input type="text" class="k-textbox form-control" placeholder="First Name"
                                   ng-model="contact.firstName" required id="firstName" name="firstName" />
                        </div>
                    </div>
                    <div class="form-group col-xs-12 col-md-6">
                        <label class="col-xs-3 col-lg-2 control-label">Last Name</label>
                        <div class="col-xs-9 col-lg-10">
                            <input type="text" class="k-textbox form-control" placeholder="Last Name"
                                   ng-model="contact.lastName" required id="lastName" name="lastName" />
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 paddingBottom5">
                    <div class="form-group col-xs-12 col-md-6">
                        <label class="col-xs-3 col-lg-2 control-label">Owner</label>
                        <div class="col-xs-9 col-lg-10">
                            <input id="owner" name="owner" class="kendo-drop-down-list form-control"
                                   ng-model="contact.ownerId" required
                                   k-data-source="Users" k-data-text-field="'userName'" k-data-value-field="'userId'" k-option-label="'Select Owner'"
                                   k-on-change="thingsChange(kendoEvent)" />
                        </div>
                    </div>
                    <div class="form-group col-xs-12 col-md-6">
                        <label class="col-xs-3 col-lg-2 control-label">Company</label>
                        <div class="col-xs-9 col-lg-10">
                            <input id="company" name="company" class="kendo-drop-down-list form-control disabled"
                                   ng-model="contact.companyId" required
                                   k-data-source="Companies" k-data-text-field="'companyName'" k-data-value-field="'companyId'" k-option-label="'Select Company'"
                                   k-on-change="thingsChange(kendoEvent)" />
                            <a href="#/newCompany" class="k-link pull-right">Add Company</a>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12">
                    <div class="form-group col-xs-12 col-md-6">
                        <label class="col-xs-3 col-lg-2 control-label">Contact Type</label>
                        <div class="col-xs-9 col-lg-10">
                            <input id="contactType" name="contactType" class="kendo-drop-down-list form-control"
                                   ng-model="contact.contactTypeId" required
                                   k-data-source="ContactTypes" k-data-text-field="'contactTypeName'" k-data-value-field="'contactTypeId'" k-option-label="'Select Contact Type'"
                                   k-on-change="thingsChange(kendoEvent)" />
                        </div>
                    </div>
                    <div class="form-group col-xs-12 col-md-6">
                        <label class="col-xs-3 col-lg-2 control-label">Email</label>
                        <div class="col-xs-9 col-lg-10">
                            <input type="text" class="k-textbox form-control" placeholder="Email Id (e.g. myname@example.net)" readonly
                                   ng-model="contact.email" required id="email" name="email" />
                        </div>
                    </div>

                </div>
                <div class="col-xs-12">
                    <div class="form-group col-xs-12 col-md-6">
                        <label class="col-xs-3 col-lg-2 control-label">Phone</label>
                        <div class="col-xs-9 col-lg-10">
                            <input type="text" class="k-textbox form-control" placeholder="Phone"
                                   ng-model="contact.phone" required id="phone" name="phone" />
                        </div>
                    </div>
                    <div class="form-group col-xs-12 col-md-6">
                        <label class="col-xs-3 col-lg-2 control-label">Cell</label>
                        <div class="col-xs-9 col-lg-10">
                            <input type="text" class="k-textbox form-control" placeholder="Cell"
                                   ng-model="contact.cell" id="cell" name="cell" />
                        </div>
                    </div>

                </div>
                <!--<div class="col-xs-12">
                    <div class="form-group col-xs-12 col-md-6">
                        <label class="col-xs-3 col-lg-2 control-label">Is Key Contact</label>
                        <div class="col-xs-9 col-lg-10">
                            <input type="checkbox" class="k-checkbox" ng-model="contact.isKeyContact"
                                   id="isKeyContact" name="isKeyContact" />
                            <label for="isKeyContact" class="k-checkbox-label"></label>
                        </div>
                    </div>
                </div>-->
            </fieldset>
        </div>
        <div class="col-xs-12 paddingTopBottom10">
            <fieldset>
                <legend>Address Information</legend>
                <div class="col-xs-12">
                    <div class="form-group col-xs-12 col-md-6">
                        <label class="col-xs-3 col-lg-2 control-label">Street</label>
                        <div class="col-xs-9 col-lg-10">
                            <input type="text" class="k-textbox form-control" placeholder="Street"
                                   ng-model="contact.street" required id="street" name="street" />
                        </div>
                    </div>
                    <div class="form-group col-xs-12 col-md-6">
                        <label class="col-xs-3 col-lg-2 control-label">City</label>
                        <div class="col-xs-9 col-lg-10">
                            <input type="text" class="k-textbox form-control" placeholder="City"
                                   ng-model="contact.city" required id="city" name="city" />
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 paddingBottom5">
                    <div class="form-group col-xs-12 col-md-6">
                        <label class="col-xs-3 col-lg-2 control-label">Country</label>
                        <div class="col-xs-9 col-lg-10">
                            <input id="country" name="country" class="kendo-drop-down-list form-control"
                                   ng-model="contact.countryId" required
                                   k-data-source="Countries" k-data-text-field="'countryName'" k-data-value-field="'countryId'" k-option-label="'Select Country'"
                                   k-on-change="thingsChange(kendoEvent)" />
                        </div>
                    </div>
                    <div class="form-group col-xs-12 col-md-6">
                        <label class="col-xs-3 col-lg-2 control-label">State</label>
                        <div class="col-xs-9 col-lg-10">
                            <input id="state" name="state" class="kendo-drop-down-list form-control"
                                   ng-model="contact.stateId" required
                                   k-data-source="States" k-data-text-field="'provinceName'" k-data-value-field="'provinceId'" k-option-label="'Select State'"
                                   k-cascade-from="'country'" k-on-change="thingsChange(kendoEvent)" />
                        </div>
                    </div>
                </div>
                <div class="col-xs-12">
                    <div class="form-group col-xs-12 col-md-6">
                        <label class="col-xs-3 col-lg-2 control-label">Postal Code</label>
                        <div class="col-xs-9 col-lg-10">
                            <input type="text" class="k-textbox form-control" placeholder="Postal Code"
                                   ng-model="contact.postalCode" required id="postalCode" name="postalCode" />
                        </div>
                    </div>
                </div>
            </fieldset>
        </div>
        <div class="col-xs-12">
            <div class="form-group col-xs-12 text-right">
                <a href="#/contacts" class="k-button">Back to Contacts</a> &nbsp;
                <input type="button" class="k-button" value="Reset" ng-click="ResetContact()" /> &nbsp;
                <input type="submit" class="k-button k-primary" value="Save Changes" ng-click="UpdateContact($event)" />
            </div>
        </div>
        <div class="col-xs-12 alert" ng-if="isSuccess != null" ng-class="isSuccess ? 'alert-success' : 'alert-danger'">
            {{ message }}
        </div>
    </form>

    <fieldset>
        <legend>Associated Documents</legend>
        <div class="col-xs-12">
            <div class="form-group col-xs-12">
                <input type="file" id="contactFiles" name="contactFiles" />
            </div>
            <div class="form-group col-xs-12">
                <div kendo-grid="associatedDocumentsForContactGrid" id="associatedDocumentsForContactGrid" options="associatedDocumentsForContactGridOptions">
                </div>
            </div>
        </div>
    </fieldset>
</section>
<script>
    $(document).ready(function () {

        $("#phone").kendoMaskedTextBox({
            mask: "(999) 000-0000"
        });

        $("#cell").kendoMaskedTextBox({
            mask: "(999) 000-0000"
        });
    });
</script>