<div class="col-xs-12">
    <h1 class="PageHeader1 paddingBottom10">Edit Profile</h1>
</div>
<br clear="all">
<section class="col-xs-12 paddingBottom20">
    <form class="form-horizontal" role="form" novalidate name="userForm" id="userForm" kendo-validator="validator" ng-submit="Update($event)">
        <div class="col-xs-12 paddingTopBottom10">
            <fieldset>
                <div class="col-xs-12">
                    <div class="form-group col-xs-12 col-md-6">
                        <label class="col-xs-3 col-sm-2 control-label">First Name</label>
                        <div class="col-xs-9 col-sm-10">
                            <input type="text" class="k-textbox form-control" placeholder="First Name"
                                   ng-model="user.firstName" required id="firstName" name="firstName" />
                            <input type="hidden" class="k-textbox form-control"
                                   ng-model="user.userId" id="userId" name="userId" />
                        </div>
                    </div>
                    <div class="form-group col-xs-12 col-md-6">
                        <label class="col-xs-3 col-sm-2 control-label">Last Name</label>
                        <div class="col-xs-9 col-sm-10">
                            <input type="text" class="k-textbox form-control" placeholder="Last Name"
                                   ng-model="user.lastName" required id="lastName" name="lastName" />
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 paddingBottom5">
                    <div class="form-group col-xs-12 col-md-6">
                        <label class="col-xs-3 col-sm-2 control-label">Email</label>
                        <div class="col-xs-9 col-sm-10">
                            <input type="text" class="k-textbox form-control" placeholder="Email Id (e.g. myname@example.net)"
                                   ng-model="user.email" required id="email" name="email" />
                        </div>
                    </div>
                    <div class="form-group col-xs-12 col-md-6">
                        <label class="col-xs-3 col-sm-2 control-label">Phone</label>
                        <div class="col-xs-9 col-sm-10">
                            <input type="text" class="k-textbox form-control" placeholder="Phone"
                                   ng-model="user.phone" required id="phone" name="phone" />
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 paddingBottom5">
                    <div class="form-group col-xs-12 col-md-6">
                        <label class="col-xs-3 col-sm-2 control-label">Cell</label>
                        <div class="col-xs-9 col-sm-10">
                            <input type="text" class="k-textbox form-control" placeholder="Cell"
                                   ng-model="user.cell" required id="cell" name="cell" />
                        </div>
                    </div>
                    <div class="form-group col-xs-12 col-md-6">
                        <label class="col-xs-3 col-sm-2 control-label">Department</label>
                        <div class="col-xs-9 col-sm-10">
                            <input type="text" class="k-textbox form-control" placeholder="Department"
                                   ng-model="user.department"  id="department" name="department" />
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 paddingBottom5">
                    <div class="form-group col-xs-12 col-md-6">
                        <label class="col-xs-3 col-sm-2 control-label">Company</label>
                        <div class="col-xs-9 col-sm-10">
                            <input id="companyName" name="companyName" class="kendo-drop-down-list form-control"
                                   ng-model="user.companyId" required
                                   k-data-source="Companies" k-data-text-field="'companyName'" k-data-value-field="'companyId'" k-option-label="'Select Company'"
                                   k-on-change="thingsChange(kendoEvent)" />
                        </div>
                    </div>
                    <div class="form-group col-xs-12 col-md-6">
                        <label class="col-xs-3 col-lg-2 control-label">Status</label>
                        <!--<div class="col-xs-9 col-lg-10">
                            <select kendo-drop-down-list ng-model="user.status" id="status" class="form-control" required validationmessage="Select Status Type">
                                <option value="0">Select Status</option>
                                <option value="Active">Active</option>
                                <option value="Inactive">Inactive</option>
                            </select>
                        </div>-->
                        <div class="col-xs-9 col-sm-10">
                            <input id="statusId" name="statusId" class="kendo-drop-down-list form-control"
                                   ng-model="user.statusId" required
                                   k-data-source="userStatus" k-data-text-field="'statusName'" k-data-value-field="'statusId'" k-option-label="'Select s tatusType'"
                                   k-on-change="thingsChange(kendoEvent)" />
                        </div>
                    </div>
                </div>
                <div class="col-xs-12">
                    <div class="form-group col-xs-12 col-md-6">
                        <label class="col-xs-3 col-sm-2 control-label">User Type</label>
                        <div class="col-xs-9 col-sm-10">
                            <input id="userTypeId" name="userTypeId" class="kendo-drop-down-list form-control"
                                   ng-model="user.userTypeId" required
                                   k-data-source="userTypes" k-data-text-field="'contactTypeName'" k-data-value-field="'contactTypeId'" k-option-label="'Select User Type'"
                                   k-on-change="thingsChange(kendoEvent)" />
                        </div>
                    </div>
                    <div class="form-group col-xs-12 col-md-6">
                        <label class="col-xs-3 col-sm-2 control-label">User Profile</label>
                        <div class="col-xs-9 col-sm-10">
                            <input id="ProfileTypeId" name="ProfileTypeId" class="kendo-drop-down-list form-control"
                                   ng-model="user.profileTypeId" required
                                   k-data-source="userProfiles" k-data-text-field="'name'" k-data-value-field="'id'" k-option-label="'Select Profile Type'"
                                   k-on-change="thingsChange(kendoEvent)" />
                        </div>
                        <!--<div class="col-xs-9 col-lg-10">
                            <select kendo-drop-down-list ng-model="user.profileType" id="profileType" class="form-control" required validationmessage="Select User Profile Type">
                                <option value="0">Select User Profile</option>
                                <option value="Standard User">Standard User</option>
                                <option value="System Administrator">System Administrator</option>
                            </select>
                        </div>-->
                    </div>
                </div>
            </fieldset>
        </div>
        <div class="col-xs-12 paddingTopBottom10">
            <fieldset>
                <div class="col-xs-12">
                    <div class="form-group col-xs-12 col-md-6">
                        <label class="col-xs-3 col-sm-2 control-label">Street</label>
                        <div class="col-xs-9 col-sm-10">
                            <input type="text" class="k-textbox form-control" placeholder="Street"
                                   ng-model="user.street"  id="street" name="street" />
                        </div>
                    </div>
                    <div class="form-group col-xs-12 col-md-6">
                        <label class="col-xs-3 col-sm-2 control-label">City</label>
                        <div class="col-xs-9 col-sm-10">
                            <input type="text" class="k-textbox form-control" placeholder="City"
                                   ng-model="user.city"  maxlength="40" id="city" name="city" />
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 paddingBottom5">
                    <div class="form-group col-xs-12 col-md-6">
                        <label class="col-xs-3 col-sm-2 control-label">Country</label>
                        <div class="col-xs-9 col-sm-10">
                            <input id="country" name="country" class="kendo-drop-down-list form-control"
                                   ng-model="user.countryId" 
                                   k-data-source="Countries" k-data-text-field="'countryName'" k-data-value-field="'countryId'" k-option-label="'Select Country'"
                                   k-on-change="thingsChange(kendoEvent)" />
                        </div>
                    </div>
                    <div class="form-group col-xs-12 col-md-6">
                        <label class="col-xs-3 col-sm-2 control-label">State</label>
                        <div class="col-xs-9 col-sm-10">
                            <input id="province" name="province" class="kendo-drop-down-list form-control"
                                   ng-model="user.provinceId" 
                                   k-data-source="States" k-data-text-field="'provinceName'" k-data-value-field="'provinceId'" k-option-label="'Select State'"
                                   k-cascade-from="'country'" k-on-change="thingsChange(kendoEvent)" />
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 paddingBottom5">
                    <div class="form-group col-xs-12 col-md-6">
                        <label class="col-xs-3 col-sm-2 control-label">Postal Code</label>
                        <div class="col-xs-9 col-sm-10">
                            <input type="text" class="k-textbox form-control" placeholder="Postal Code"
                                   ng-model="user.postalCode"  id="postalCode" name="postalCode" />
                        </div>
                    </div>
                    <div class="form-group col-xs-12 col-md-6">
                        <label for="receiveAlerts" class="col-xs-3 col-sm-2 control-label">Receive Alerts</label>
                        <div class="col-xs-9 col-sm-10">
                            <input type="checkbox" class="k-checkbox" data-ng-bind="user.receiveAlerts" ng-model="user.receiveAlerts"
                                   id="receiveAlerts" name="receiveAlerts" />
                            <label for="receiveAlerts" class="k-checkbox-label"></label>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 paddingBottom5">
                    <div class="form-group col-xs-12 col-md-6">
                        <label for="createdDate" class="col-xs-3 col-sm-2 control-label">Created Date</label>
                        <label class="col-xs-9 col-lg-10 control-label" id="createdDate" name="createdDate" style="text-align:left">{{user.createdDate}}</label>
                    </div>
                    <div class="form-group col-xs-12 col-md-6">
                        <label for="createdDate" class="col-xs-3 col-sm-2 control-label">Modified Date</label>
                        <label class="col-xs-9 col-lg-10 control-label" id="lastModifiedDate" name="lastModifiedDate" style="text-align:left">{{user.lastModifiedDate}}</label>
                    </div>
                </div>
            </fieldset>
        </div>
        <div class="col-xs-12 paddingTop5" style="width: 98%;">
            <fieldset>
                <legend>Profile Photo</legend>
                <div class="form-group">
                    <div class="hint">
                        <span>You can only upload <strong>BMP</strong>, <strong>JPG</strong>, <strong>JPEG</strong>, <strong>PNG</strong> and <strong>TIFF</strong> files.</span>
                        <span>Maximum allowed file size is <strong>4 MB</strong>.</span>
                    </div>
                    <input type="file" id="profileImages" name="profileImages" kendo-upload k-options="imageUploadOptions" />
                    <!--<div class="form-group paddingTop20 paddingLeft15">
                        <div kendo-grid="associatedPhotosForProfileGrid" id="associatedPhotosForProfileGrid" options="profileImagesGridOptions">
                        </div>
                    </div>-->
                </div>
            </fieldset>
        </div>
        <div class="col-xs-12">
            <div class="form-group col-xs-12 text-right">
                <a href="#/myprofile" class="k-button">Back to Profile</a> &nbsp;
                <input type="button" class="k-button" value="Clear" ng-click="ResetUpdateUser()" /> &nbsp;
                <input type="submit" class="k-button k-primary" value="Save" ng-click="UpdateUser($event)" />
            </div>
        </div>
        <div class="col-xs-12 alert" ng-class="isSuccess ? 'alert-success' : (isSuccess != undefined ? 'alert-danger' : '')">
            <span class="status {{ validationClass }}">{{ validationMessage }} </span>
        </div>
    </form>
</section>
<script>
    $(document).ready(function () {

        $("#phone").kendoMaskedTextBox({
            mask: "(999) 000-0000"
        });

        $("#cell").kendoMaskedTextBox({
            mask: "(999) 000-0000"
        });
    });
</script>
