<div class="col-xs-12">
    <h1 class="PageHeader1 paddingBottom10">Manage Invoices <span ng-if="claim.claimId">for <a href="#/viewClaim/{{claim.claimId}}">{{claim.claimNo}}</a></span></h1>
    <a ng-if="!claim.claimId" href="#/newInvoice" class="k-button pull-right">Create New Invoice</a>
</div>
<br clear="all">
<section class="col-xs-12 paddingTopBottom10">
    <div kendo-grid="invoiceGrid" id="invoiceGrid" options="invoiceGridOptions">
    </div>
    <br />
    <div ng-if="claim.claimId" class="paddingBottom10 text-right">
        <a href="#/claims" class="k-button">Back to Manage Claims</a> &nbsp;
        <a href="#/viewClaim/{{claim.claimId}}" class="k-button">View Claim</a> &nbsp;
        <a ng-if="claim.claimId" href="#/newInvoice/{{claim.claimId}}" class="k-button pull-right">Create New Invoice</a>
    </div>
    <div class="col-xs-12 alert" ng-if="isSuccess != null" ng-class="isSuccess ? 'alert-success' : 'alert-danger'">
        {{ message }}
    </div>
</section>