<div class="col-xs-12">
    <h1 class="PageHeader1 paddingBottom10">Manage Service Items</h1>
    <a href="#/newServiceItem" class="k-button pull-right">Add New Service Item</a>
</div>
<br clear="all">
<section class="col-xs-12 paddingTopBottom10">
    <div kendo-grid="serviceItemGrid" id="serviceItemGrid" options="serviceItemGridOptions">
    </div>
    <br />
    <div class="col-xs-12 alert" ng-if="isSuccess != null" ng-class="isSuccess ? 'alert-success' : 'alert-danger'">
        {{ message }}
    </div>
</section>
