<div class="col-xs-12">
    <h1 class="PageHeader1 paddingBottom10">Add New Service Item</h1>
</div>
<br clear="all">
<section class="col-xs-12 paddingBottom20">
    <form class="form-horizontal" role="form" novalidate name="serviceItemForm" id="serviceItemForm" kendo-validator="validator">
        <div class="col-xs-12 paddingTopBottom10">
            <fieldset>
                <legend>Primary Information</legend>
                <div class="col-xs-12">
                    <div class="form-group col-xs-12 col-md-6">
                        <label class="col-xs-4 col-sm-3 control-label">Service Name</label>
                        <div class="col-sm-8 col-sm-9">
                            <input type="text" class="k-textbox form-control" placeholder="Service Name"
                                   ng-model="serviceItem.serviceItemName" required id="serviceItemName" name="serviceItemName" />
                        </div>
                    </div>
                    <div class="form-group col-xs-12 col-md-6">
                        <label class="col-xs-4 col-sm-3 control-label">Hourly</label>
                        <div class="col-sm-8 col-sm-9">
                            <input type="checkbox" class="k-checkbox" ng-model="serviceItem.isHourly"
                                   id="isHourly" name="isHourly" />
                            <label for="isHourly" class="k-checkbox-label"></label>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12">
                    <div class="form-group col-xs-12 col-md-6">
                        <label class="col-xs-4 col-sm-3 control-label">Description</label>
                        <div class="col-sm-8 col-sm-9">
                            <textarea id="serviceItemDescription" name="serviceItemDescription" rows="3" class="k-textbox form-control"
                                      placeholder="Description" ng-model="serviceItem.serviceItemDescription" />
                        </div>
                    </div>
                    <div class="form-group col-xs-12 col-md-6">
                        <label class="col-xs-4 col-sm-3 control-label">Default Quantity</label>
                        <div class="col-sm-8 col-sm-9">
                            <input id="defaultQuantity" name="defaultQuantity" type="text" class="k-textbox form-control" placeholder="Default Quantity"
                                   ng-model="serviceItem.defaultQuantity" required />
                        </div>
                    </div>
                </div>
                <div class="col-xs-12">
                    <div class="form-group col-xs-12 col-md-6">
                        <label class="col-xs-4 col-sm-3 control-label">Default Fee</label>
                        <div class="col-sm-8 col-sm-9">
                            <input id="defaultFee" name="defaultFee" type="text" class="k-textbox form-control" placeholder="Default Fee"
                                   ng-model="serviceItem.defaultFee" required />
                        </div>
                    </div>
                    <div class="form-group col-xs-12 col-md-6">
                        <label class="col-xs-4 col-sm-3 control-label">Minimum Fee</label>
                        <div class="col-sm-8 col-sm-9">
                            <input id="minimumFee" name="minimumFee" type="text" class="k-textbox form-control" placeholder="Minimum Fee"
                                   ng-model="serviceItem.minimumFee" required />
                        </div>
                    </div>
                </div>
                <div class="col-xs-12">
                    <div class="form-group col-xs-12 col-md-6">
                        <label class="col-xs-4 col-sm-3 control-label">Service Category</label>
                        <div class="col-sm-8 col-sm-9">
                            <input id="serviceCategory" name="serviceCategory" class="kendo-drop-down-list form-control"
                                   ng-model="serviceItem.serviceCategoryId" required
                                   k-data-source="ServiceCategoryList" k-data-text-field="'serviceCategoryName'" k-data-value-field="'serviceCategoryId'" k-option-label="'Select Category'"
                                   k-on-change="thingsChange(kendoEvent)" />
                        </div>
                    </div>
                    <div class="form-group col-xs-12 col-md-6">
                    </div>
                </div>
            </fieldset>
        </div>

        <div class="col-xs-12">
            <div class="form-group col-xs-12 text-right">
                <a href="#/serviceItems" class="k-button">Back to Service Items</a> &nbsp;
                <input type="button" class="k-button" value="Clear" ng-click="ResetAddServiceItem()" /> &nbsp;
                <input type="submit" class="k-button k-primary" value="Save" ng-click="AddServiceItem($event)" />
            </div>
        </div>
        <div class="col-xs-12 alert" ng-if="isSuccess != null" ng-class="isSuccess ? 'alert-success' : 'alert-danger'">
            {{ message }}
        </div>
    </form>
</section>
