<div class="col-xs-12">
    <h1 class="PageHeader1 paddingBottom10">View Note / Task Details</h1>
</div>
<br clear="all">
<section class="col-xs-12 paddingBottom20">
    <div class="col-xs-12 paddingTopBottom10">
        <fieldset>
            <legend>Note / Task Information</legend>
            <div class="col-xs-12 paddingBottom10">
                <div class="col-xs-12 col-md-6">
                    <label for="type" class="col-xs-3 col-sm-2 control-label">Type</label>
                    <div class="col-xs-9 col-sm-10 text-left">
                        <input type="radio" class="k-radio" id="descriptionTypeNote" name="descriptionType" disabled="disabled"
                               value="Note" ng-model="claimNote.type" /> 
                        <label for="descriptionTypeNote" class="k-radio-label">&nbsp;Note</label> &nbsp; &nbsp; &nbsp;
                        <input type="radio" class="k-radio" id="descriptionTypeTask" name="descriptionType" disabled="disabled"
                               value="Task" ng-model="claimNote.type" /> 
                        <label for="descriptionTypeTask" class="k-radio-label">&nbsp;Task</label>
                    </div>
                </div>
                <div class="col-xs-12 col-md-6">
                    <label for="createdDate" class="col-xs-3 col-sm-2 control-label">Created Date</label>
                    <div class="col-xs-9 col-sm-10">
                        {{claimNote.createdDate}}
                    </div>
                </div>
            </div>
            <br />
            <div class="col-xs-12 paddingBottom10">
                <div class="col-xs-12">
                    <label class="col-xs-2 col-sm-1 control-label">{{claimNote.type}} Title</label>
                    <div class="col-xs-10 col-sm-11 text-left">
                        {{claimNote.title}}
                    </div>
                </div>
            </div>
            <div class="col-xs-12 paddingBottom10">
                <div class="col-xs-12">
                    <label class="col-xs-2 col-sm-1 control-label">{{claimNote.type}} Description</label>
                    <div class="col-xs-10 col-sm-11 text-left" ng-bind-html="claimNote.description">
                    </div>
                </div>
            </div>
            <div class="col-xs-12" ng-if="claimNote.type === 'Task'">
                <div class="col-xs-12 col-md-6">
                    <label for="assignedTo" class="col-xs-3 col-sm-2 control-label">Assigned To</label>
                    <div class="col-xs-9 col-sm-10">
                        {{claimNote.assignedTo}}
                    </div>
                </div>
                <div class="col-xs-12 col-md-6">
                    <label for="taskDueDate" class="col-xs-3 col-sm-2 control-label">Due Date</label>
                    <div class="col-xs-9 col-sm-10">
                        {{claimNote.taskEndDate}}
                    </div>
                </div>
            </div>
        </fieldset>
    </div>
    <div class="col-xs-12">
        <div class="form-group col-xs-12 text-right">
            <a href="#/claims" class="k-button">Back to Manage Claims</a> &nbsp;
            <a href="#/viewClaim/{{claim.claimId}}" class="k-button">Back to Claim</a> &nbsp;
            <a href="#/claimNotes/{{claim.claimId}}" class="k-button">View all Notes / Tasks</a> &nbsp;
            <a href="#/editClaimNote/{{claimNote.noteId}}" class="k-button">Edit Details</a> &nbsp;
            <a href="#/newClaimNote/{{claim.claimId}}" class="k-button">Add Note / Task</a>
        </div>
    </div>
    <div class="col-xs-12 alert" ng-if="isSuccess != null" ng-class="isSuccess ? 'alert-success' : 'alert-danger'">
        {{ message }}
    </div>
</section>
