@model ClaimManagementSystem.Models.EmailViewModel

<!DOCTYPE html>
<html>
<head>
    <title>Forgot Password</title>
</head>
<body>
    <div>
        <div>
            Hi @Model.FirstName,
        </div>
        <br />
        <div>
            The Claims Management System has received a request to reset your password. Kindly click on the link below to reset your password.
            <br />
            <div>
                <a href="@Model.CallbackUrl">Reset Password</a>
            </div>
        </div>
        <br />
        <br />
        <div>
            This mail has been sent by the Claims Management System.
        </div>
    </div>
</body>
</html>

